html, body {
  height: 100%;
  background-color: #f3f3f3;
}

header {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0px;
}

#title {
  font-size: 4em;
}

#headshot {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.social {
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-button {
  padding-top: 28px;
  padding-left: 28px;
  background-repeat: no-repeat;
  margin: 0 10px 0 10px;
}
.linkedin-button { background-image: url("../images/linkedin-black-compressed.png"); }
.twitter-button { background-image: url("../images/twitter-black-compressed.png"); }
.github-button { background-image: url("../images/github-black-compressed.png"); }

.ribbon {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

.sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 220px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-right: 1px solid gray;
  z-index:1;
}

.personal-info {
  text-align: left;
}

.nav {
  width: 200px;
  text-align: center;
  margin-top: -30px;
}

.nav-tabs {
  background-color: white;
}

.side-by-side {
  margin: 0;
  display: inline-block;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.content {
  text-align: justify;
  padding: 30px 60px 30px 290px;
}

.profile p {
  margin-left: 20px;
}

.main dd {
  margin-bottom: 30px;
}

.main h1 {
  margin-bottom: 20px;
}

.technical {
  padding-left: 30px;
}

.technical div {
  width: 33%;
}

#frameworks { overflow: hidden; }

.dl-horizontal dt {
  white-space: normal;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  color: grey;
  text-align: center;
}