html, body {
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
}

header {
  margin-bottom: 50px;
}

header img {
  position: relative;
  margin-top: -8px;
}

.social {
  margin-top: 40px;
  margin-bottom: -30px;
}

.social-button {
  padding-top: 28px;
  padding-left: 28px;
  background-repeat: no-repeat;
  margin: 0 10px 0 10px;
}
.linkedin-button { background-image: url("../images/linkedin-black-compressed.png"); }
.twitter-button { background-image: url("../images/twitter-black-compressed.png"); }
.github-button { background-image: url("../images/github-black-compressed.png"); }

.main {
  width: 200px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.nav {
  background-color: white;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  color: grey;
}
