html, body {
  height: 100%;
  background-color: #f3f3f3;
}

header {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0px;
}

#headshot {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.social {
  margin-top: 40px;
  margin-bottom: -30px;
}

.social-button {
  padding-top: 28px;
  padding-left: 28px;
  background-repeat: no-repeat;
  margin: 0 10px 0 10px;
}

.linkedin-button { background-image: url("../images/linkedin-black-compressed.png"); }
.twitter-button { background-image: url("../images/twitter-black-compressed.png"); }
.github-button { background-image: url("../images/github-black-compressed.png"); }

.sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 220px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-right: 1px solid gray;
  z-index:1;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.content {
  position: relative;
  text-align: justify;
  padding: 30px 60px 30px 290px;
}

.content p {
  margin: 0 0 25px 20px;
}

.technical {
  margin-top: 60px;
}

.side-by-side {
  float: left;
  text-align: left;
  margin-right: 10px;
}

.nav {
  width: 200px;
  text-align: center;
}

.nav-tabs {
  background-color: white;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  color: grey;
  text-align: center;
}